body {
  background-color: whitesmoke;
  font-family: "Baloo Da 2", cursive;
  font-size: 22px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.top-div {
  padding-top: 120px;
}

.total-border {
  border: 1px solid black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
  font-size: 16px;
}

.total-heading {
  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 800;
  text-align: right;
}

.top-div h1 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 64px;
  font-family: "Raleway", sans-serif;
  color: rgb(253, 120, 32);
  font-size: calc(56rem / 16);
  font-weight: 900;
  letter-spacing: 0.05em;
  padding-top: 16px;
}

form {
  // padding-top: 220px;
  // height: 100vh;
  padding-bottom: 2rem;
}

.login-bottom {
  padding-bottom: 3rem;
}

br {
  //  padding-top: 100px;
}

.page-has-header {
  // padding-top: 95px;
  // min-height: calc(100% - 140px);
}

.page-content {
  width: 100;
}

.forum {
  width: 60%;
  margin: auto;
}

.forum-new {
  width: 60%;
  margin: auto;  
}

.form-group {
  width: 100%;
}

.main-content {
  width: 100%;
}

.header-div {
  // height: 150px;
  background-color: whitesmoke;
  text-align: center;
}

.header-div h1 {
  font-family: "Raleway", sans-serif;
  color: rgb(253, 120, 32);
  font-size: calc(56rem / 16);
  font-weight: 900;
  letter-spacing: 0.05em;
  padding-top: 40px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-main {
  display: block;
}

label {
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  margin: auto;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgb(231, 200, 142);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-control:focus {
  border: 3px solid rgb(255, 165, 30);
}

.right-align {
  text-align: right;
}

.btn-pad-right {
  margin-right: 20px;
}

.left-align {
  text-align: left;
}

.avatar {
  width: 150px;
}

.center-content {
  text-align: center;
}

.border-right {
  border-right: 1px solid rgb(204, 204, 204);
}

.recent-post {
  width: 70px;
}

.min-line-height {
  line-height: 0px;
}

.bottom-border {
}
