.forum_h3 {
    display: inline-block;
    font-size: 16px;
}

.back-to {
    font-size: 16px;
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
    display: inline-block;
}

.current {
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
}

.forum_a {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
