.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group {
    width: 60%;
}

.form-input {
    width: 100%;
    border: 1px solid dodgerblue;
    padding: 10px;
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 1rem;
    text-align: left;
}