body {
    color: white;
}

.main-footer {
    padding-top: 3em;
    background-color: rgb(33, 37, 41);
}

.lower-footer {
    background-color: black;
}

.text-white {
    color: #fff !important;
}

a {
    color: white;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.text-uppercase {
    color: white;
}

a i {
    color: white;
}

.col-12 a:hover {
    text-decoration: none;
}

.lower-footer a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.lower-footer a:hover {
    text-decoration: none;
}

.col-12 {
    color: white;
    text-decoration: none;
    font-size: 14px;   
}

.footer-logo {
    height: 75px;
}

.footer-name {
    height: 55px;
}

.logo {
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.logo a:hover {
    background-color: rgb(253, 120, 32);
}

.main-footer {
    height: 80%;
}