.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 10px 11px 23px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 23px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 23px -3px rgba(0,0,0,0.75);
    background-color: black;
}

.navbar-logo {
    height: 40px;
}